:root {
  font-family: "Orbitron", sans-serif;
  color-scheme: dark;
  color: #cfe8ff;
  background-color: #0c0e18;
}

/* Body y scroll */
body {
  background-color: #0c0e18;
  color: #cfe8ff;
  font-family: "Orbitron", sans-serif;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: #00f6ff;
  font-weight: bold;
  transition: color 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff00ff;
}

/* Footer */
footer {
  background: #0c0e18;
  color: #88bfff;
  font-family: "Orbitron", sans-serif;
}

/* Cards */
.card {
  background: rgba(12, 14, 24, 0.75);
  border: 1px solid #0ff;
  box-shadow: 0 0 15px #0ff;
}
